.container {
  display: block;
  width: 350px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
}

.title {
  text-align: center;
  color: brown;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: darkseagreen;
}
